@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}
/* globales  en todo el sitio */
a{
    text-decoration: none;
}

#top{
    height: 250px;
    background: rgb(215,143,183);
    background: linear-gradient(90deg, rgba(215,143,183,1) 0%, rgba(201,185,241,1) 100%);
}
    header{
        width: 1100px;
        height: 100px;
        margin: auto;

        display: flex;
        justify-content: space-between;

        align-items: center; /* centrado en vertical */
    }

    header a img{
        width: 56px;
        vertical-align: middle;
    }
    header a {
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
    }
    header nav a{
        padding: 14px;
    }

    #top h1{
        width: 1100px;
        margin: 53px auto 0px auto;
        font-size: 32px;
        font-weight: 600;
        color: #fff;
    }

main {
    width: 1100px;
    margin: auto;
    min-height: 600px;
}

#bottom{
    background-color: #262626;
    height: 150px;
    display: flex;
    align-items: center;
}
    footer{
        width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    footer img{
        width: 32px;
        vertical-align: middle;
    }
    footer a{
        color: #fff;
        font-size: 18px;
    }
    #redes a img{
        width: 16px;
        margin: 8px;
    }